<html>
<body>
  <h1>Welcome to v1 of My Diary api</h1>
  <h2>Currently these are the available endpoints:</h2>
  <h3>To use api, append the paths to the end of the url, or visit <a href="https://github.com/Oyebola-O/my-diary">our repo</a></h3>

  <h4>Fetch all entries, GET /entries</h4>
  /api/v1/entries


  <h4>Fetch a single entry, GET /entries/:entryId</h4>
  /api/v1/entries/:id


  <h4>Create an entry, POST /entries</h4>
  /api/v1/entries


  <h4>Modify an entry, PUT /e​ntries​/e​ntryId​</h4>
  /api/v1/entries/:id

</body>
</html>
